.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .register-container h2 {
    margin-bottom: 20px;
  }
  
  .register-container form {
    width: 100%;
    max-width: 400px;
  }
  